@model PRFancyMVC.Models.product

@{
    ViewBag.Title = "DeleteProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete Product</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sRentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sRentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mRentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mRentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lRentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lRentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlRentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlRentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDesc)
        </dd>

    </dl>

    @using (Html.BeginForm("SaveDeleteProduct", "Admin", Model)) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            
        </div>
    }
</div>
